<!--<script src="user/user.component.ts"></script>-->
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <a class="navbar-brand" [routerLink]="'home'">Thảo's Blog</a>-->


<!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">-->


<!--    <ul class="navbar-nav mr-auto">-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" [routerLink]="'home'">Trang chủ <span class="sr-only">(current)</span></a>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--      </li>-->


<!--    </ul>-->


<!--    <ul class="nav navbar-nav" routerLinkActive="active">-->


<!--      <li *ngIf="authority === 'user'" class="nav-item">-->
<!--        <button type="button" class="btn btn-light" routerLink="user" >{{ username }}</button>-->
<!--      </li>-->

<!--      <li *ngIf="authority">-->
<!--        <button type="button" class="btn btn-dark" (click)="tokenStorage.signOut()">Sign Out</button>-->
<!--      </li>-->

<!--      <li *ngIf="authority === 'admin'" class="nav-item">-->
<!--        <a class="nav-link" routerLink="admin">Admin Board</a>-->
<!--      </li>-->
<!--      <li *ngIf="authority === 'pm'" class="nav-item">-->
<!--        <a class="nav-link" routerLink="pm">PM Board</a>-->
<!--      </li>-->
<!--      <li *ngIf="!authority" class="nav-item">-->
<!--        <button type="button" class="btn btn-primary" routerLink="auth/login">Login</button>-->
<!--      </li>-->
<!--    </ul>-->

<!--  </div>-->
<!--</nav>-->


<router-outlet></router-outlet>
