<!--<div *ngIf="info.token; else loggedOut">-->
<!--  <h5 class="text-primary">Your Information</h5>-->
<!--  <p>-->
<!--    <strong>Username:</strong> {{info.username}}<br/>-->
<!--    <strong>Roles:</strong> {{info.authorities}}<br/>-->
<!--    <strong>Token:</strong> {{info.token}}.-->
<!--  </p>-->
<!--  <button class="btn btn-secondary" (click)="logout()">Logout</button>-->
<!--</div>-->

<!--<ng-template #loggedOut>-->
<!--  Xin vui lòng đăng nhập để tiếp tục sử dụng-->
<!--</ng-template>-->













<div class="container-fluid"  style="background: antiquewhite ;  padding-top: 5rem;">
  <app-header></app-header>
  <!--  <app-featured ></app-featured>-->

  <main role="main" class="container-fluid"> <!-- /.container -->
    <div class="row">

      <div class="col-md-1 blog-main" style="height: 600px">
      </div>


      <div class="col-md-8 blog-main"><!-- /.main -->

        <router-outlet></router-outlet>
      </div><!-- /.main -->

      <!--      <aside class="col-md-3 blog-sidebar " >&lt;!&ndash; /.blog-sidebar &ndash;&gt;-->
      <!--        <app-side-bar></app-side-bar>-->
      <!--      </aside>&lt;!&ndash; /.blog-sidebar &ndash;&gt;-->

    </div><!-- /.row -->

  </main><!-- /.container -->

</div>


<!--<button class="top" *ngIf="isShow" (click)="gotoTop()">👆Top</button>-->
<!--<app-footer></app-footer>-->


